.card-container{
    width: 750px;
     display: flex;
      margin-left : 50px;
       margin-top : 40px;
}

.card-content{
    width: 900px;
    margin: auto;
}

.bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-top: 50px;
}

.custom-button {
    background-color: #00C2A2;
    color: #fff;
  }
  
  .custom-button:hover {
    background-color: #214C56; 
  }
  
  .product-name{
    font-weight: 600;
    margin-bottom: 50px;
  }

  .product-desc{
    text-align: justify;
    color: black;
  }