.btn-add-cart{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00C2A2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}