.item-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin-top: 90px ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

  
  .item-details-container img {
    max-width:100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .pic-detail{
    border-radius: 5px 0 0 5px !important;
  }

  
  .item-details-container h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .item-details-container p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .item-details-container p:last-child {
    margin-bottom: 20px;
  }
  
  .details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  .panier-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 50px;
  }

  .btn-panier{
    display: flex;
    gap: 10px;
  }

  .panier-button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #00C2A2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px auto;
    font-size: 12px;
  }

  .voir-p-button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00C2A2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px auto;
    font-size: 12px;
  }


  .panier-section p{
    font-size: 18px;
    font-weight: 700;
  }

.number-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.centered-input {
  text-align: center;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.qtt-span{
  margin-right: 50px;
}

.operator{
  cursor: pointer;
}

  @media (max-width: 576px) {

    .item-details-container {
      max-width: 500px;
      margin-left: 30px;
      margin-right: 30px;   
    }

    .item-details-container h2 {
      font-size: 16px;
    }
    
    .item-details-container p {
      font-size: 13px;

    }

    .Formcontrol{
      min-width: 240px !important;
    }

    .panier-section{
      gap: 60px;

    }
  }
  
  
  @media (min-width: 577px) and (max-width: 768px) {
    .item-details-container {
      max-width: 500px;
      margin-left: 30px;
      margin-right: 30px;   
    }

    .item-details-container h2 {
      font-size: 16px;
    }
    
    .item-details-container p {
      font-size: 13px;

    }

    .Formcontrol{
      min-width: 240px !important;
    }

    .panier-section{
      gap: 60px;

    }
  
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
  
  
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
  
  
  
  }
  
  @media (min-width: 1201px) and (max-width: 1900px) {
  
  
  }
  