/* Signup.css */


.signup-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; 
  margin-bottom: auto;
  padding: 40px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.form-section{
  margin-left: 50px;
  margin-right: 50px;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo-section img {
    width: 150px; 
    height: auto;
    margin-bottom: 20px;
  }

  .signup-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }


.labels-signup {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputs-signup {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.signup-button {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

  /* Small devices (up to 576px) */
  @media (max-width: 576px) {
    body {
      font-size: 14px;
    }


  }